<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/static/css/my_team.css">
    <link rel="stylesheet" type="text/css" href="/static/css/student_panel.css">
    <meta charset="utf-8">
    <title>Student page</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

  </head>
  <body>
    <div w3-include-html="student_panel.html"></div>
    <script>
      includeHTML();
    </script> 

    <div class="content">
      <h2>My Team</h2>
      <div class="team">
        <h3>Team name: NazwaGrupy.java</h3>
        <ol>
          <li><i class="far fa-user"></i>  Kamil Boksa role: student id: 105 email: abcd@gmail.com</li>
          <li><i class="far fa-user"></i>  Sebastian Haliński role: student id: 106 email: defg@cc.com</li>
          <li><i class="far fa-user"></i>  Kuba Mikołajczyk role: student id: 107 email: hijk@cc.com</li>
        </ol>
      </div>
      <hr>
    </div>

  </body>
  </html>