<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/shop.css">
    <link rel="stylesheet" type="text/css" href="../css/student_panel.css">
    <link rel="stylesheet" type="text/css" href="../../src/main/resources/static/button.css">
    <meta charset="utf-8">
    <title>Student page</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/script.js"></script>
  </head>
  <body>
    <div w3-include-html="student_panel.html"></div>
     <script>
      includeHTML();
     </script> 

    <div class="content">
      <h2>CODECOOL ONLINE SHOP</h2>
      <div id="price-balance-bar">
        <h4 id="balance">Your balance  1000 <i class="far fa-money-bill-alt"></i></h4>
        <h4 id="amount">Amount to pay  0 <i class="far fa-money-bill-alt"></i> </h4>
      </div>
      <div id="table">
        <div class="row" id="tableheading">
          <div class="cell">Id</div>
          <div class="cell">Type</div>
          <div class="cell">Name</div>
          <div class="cell">Description</div>
          <div class="cell">Price</div>
          <div class="cell">Add to cart</div>
        </div>
        <div class="row">
            <div class="cell">1</div>
            <div class="cell">B</div>
            <div class="cell">Combat training</div>
            <div class="cell">Private mentoring</div>
            <div class="cell">50 cc</div>
            <div class="cell" >
              <form>
                  <i class="fas fa-shopping-cart"></i>
              </form>
            </div>
        </div>
        <div class="row">
          <div class="cell">2</div>
          <div class="cell">B</div>
          <div class="cell">Sanctuary</div>
          <div class="cell">You can spend a day in home office </div>
          <div class="cell">1000 cc</div>
          <div class="cell">
            <form>
             <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
                <div class="row">
          <div class="cell">3</div>
          <div class="cell">B</div>
          <div class="cell">Time Travel</div>
          <div class="cell">Extend SI week assignment deadline by one day </div>
          <div class="cell">750 cc</div>
          <div class="cell">
            <form>
              <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
                <div class="row">
          <div class="cell">4</div>
          <div class="cell">M</div>
          <div class="cell">Circle of Sorcery</div>
          <div class="cell">60 min workshop by a mentor(s) of the chosen topic</div>
          <div class="cell">6000 cc</div>
          <div class="cell">
            <form>
              <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
                <div class="row">
          <div class="cell">5</div>
          <div class="cell">M</div>
          <div class="cell">Summon Code Elemental</div>
          <div class="cell">Mentor joins a students team for a one hour</div>
          <div class="cell">2500 cc</div>
          <div class="cell">
            <form>
              <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
                <div class="row">
          <div class="cell">6</div>
          <div class="cell">M</div>
          <div class="cell">Tome of knowledge</div>
          <div class="cell">Extra material for the current topic</div>
          <div class="cell">1500 cc</div>
          <div class="cell">
            <form>
              <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
                <div class="row">
          <div class="cell">7</div>
          <div class="cell">M</div>
          <div class="cell">Transform mentors</div>
          <div class="cell">All mentors should dress up as pirates (or just funny) for the day</div>
          <div class="cell">5000 cc</div>
          <div class="cell">
            <form>
              <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
                <div class="row">
          <div class="cell">8</div>
          <div class="cell">M</div>
          <div class="cell">Teleport</div>
          <div class="cell">The whole course goes to an off-school program instead for a day</div>
          <div class="cell">30000 cc</div>
          <div class="cell">
            <form>
              <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
                <div class="row">
          <div class="cell">9</div>
          <div class="cell">B</div>
          <div class="cell">Coffe</div>
          <div class="cell">Brain buff</div>
          <div class="cell">5 cc</div>
          <div class="cell">
            <form>
              <i class="fas fa-shopping-cart"></i>
            </form>
          </div>
        </div>
      </div>

      <div class="buy-buttons">
        <input class="button" type="button" class="button" value="Buy"> 
        <input class="button" type="button" class="button" value="Buy for Team">
      </div>
    </div>
  </body>
</html>
