
    <div class="topnav">
      <a href="admin"> <img id="logo" src="/static/images/codecool-logo.png"></a>
      <div class="container" onclick="animateBurger(this); dropdownMenu();">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div id="myDropdown" class="dropdown-content">
          <div>
            <h3 id="name">{{ userName }}</h3>
            <img id="userAvatar" src="/static/images/user-image.jpg">
            <hr class="style1">
          </div>
          <a class= "centered" href="/admin/admin_details">Show profile details</a>
          <a class= "centered" href="login">Logout &nbsp;<i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </div>

    <div class="sidenav">
      <h3>Staff management</h3>
      <ul>
        <li><a class="sideoptions" href="/admin/create_mentor"> Create new mentor</a></li>
        <li><a class="sideoptions" href="/admin/edit_mentor"> Edit mentor</a></li>
        <li><a class="sideoptions" href="/admin/display_mentor"> Display mentor profile</a></li>
        <li><a class="sideoptions" href="/admin/display_students_by_mentor"> Display students by mentor</a></li>
      </ul>

      <h3>Group & Exp levels</h3>
      <ul>
        <li><a class="sideoptions" href="/admin/create_group"> Create new group</a></li>
        <li><a class="sideoptions" href="/admin/createexplvl"> Create experience level</a></li>
      </ul>
    </div>
