.content {
  padding-left: 15%;
  margin: 0;
}
.content h2 {
  text-align: center;
  padding-right: 10%;
}

#table {
  display:table;
  padding-top: 5%;
  padding-left: 20%;
}

#tableheading {
  font-weight: 600;
}

.row {
  display:table-row; 
}

.cell {
  display:table-cell;
  padding: 5px 10px;
}

.button {
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #4CAF50;
    color: green;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}