.content {
  padding-left: 15%;
  margin: 0;
}
.content h2 {
  text-align: center;
  padding-right: 10%;
}
#price-balance-bar {
  padding-right: 15%;
}
#balance {
  float: left;
  margin-left: 12%;
}

#amount {
  float: right;;
}

#table {
  display:table;
  padding-top: 5%;
  padding-left: 12%;
  width: 75%;
}

#tableheading {
  font-weight: 600;
}

.row {
  display:table-row; 
}

.row:hover {
  background-color: #d3d3d3;
}

.cell {
  display:table-cell;
  padding: 5px 10px;
}

.buy-buttons {
    padding-left: 10%;
    padding-top: 3%;
}

.button {
    border: 2px solid black;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-color: #4CAF50;
    color: green;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}