<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/mentor_panel.css">
    <link rel="stylesheet" href="../css/content_header.css">
    <link rel="stylesheet" href="../css/responsive_panel.css">
    <link rel="stylesheet" href="../css/input_style.css">
    <link rel="stylesheet" href="../../src/main/resources/static/button.css">
    <meta charset="utf-8">
    <title>Edit quest</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/script.js"></script>

  </head>
  <body>
     <div w3-include-html="mentor_panel.html"></div>

     <div class="createPanel, responsive_text">
      <h3 class="content_header">Edit quest</h3>

      <div class="quests">
        <h3>Active quests</h3>
        <ol>
          <li>id: 1, type: B, name: Exploring a dungeon, desc.: Finishing a Teamwork week reward: 100, status: Available</li>
          <li>id: 2, type: B, name: Solving the magic puzzle, desc.: Finishing an SI assignment reward: 100, status: Available</li>
          <li>id: 3, type: B, name: Slaying a dragon, desc.: Passing a Checkpoint in the first attemp... reward: 500, status: Available</li>
          <li>id: 4, type: E, name: Spot trap, desc.: Spot a major mistake in the assignment reward: 50, status: Available</li>
        </ol>
      </div>

       <h4>To edit quest choose it by id:</h4>

       <form>
         <div class="row">
           <div class="col-25">
             <label for="questID">Quest Id</label>
           </div>
           <div class="col-75">
             <input type="text" id="questId" name="questId">
           </div>
         </div>

           <div class="row">
             <input type="submit" class="button" value="Submit">
           </div>
         </div>
       </form>
    </div>
    <script>
      includeHTML();
    </script>
  </body>
</html>
