.header {
    font-size: 18px;
    font-style: italic;
}

.field {
    width: 40%;


}

.but {
    background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.createmenu {
    margin: 4% 10% 100% 30%;
    border: 4px solid;
    border-color: black;
    border-radius: 5px;
    padding: 5%;
}
