<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Queststore</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/static/css/button.css">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>


<!-- particles.js container -->
<div id="particles-js">
  <div class="codecool">
    <h4>QUEST STORE</h4>
    <p>ENTER USERNAME AND PASSWORD</p>

    <form method="POST" name="login">
      <input class="field" type="text" name="uname" placeholder="Username..." required>
      <input class="field" type="password" name="psw" placeholder="Password..." required>
      <input class="button" type="submit" value="Login"/>
    </form>
  </div>
</div>

<!-- scripts -->
<script src="/static/js/particles.js"></script>
<script src="/static/js/app.js"></script>


</body>
</html>
